LABEL Docker Container Check

SERVICE_TYPE DOCKER

#Interval between each monitor. Time value in seconds.
INTERVAL 60

#Timeout delay. Time value in seconds.
TIMEOUT 10

# Docker container name
CONTAINER_NAME 98e3a0eb536a