LABEL T24 Dummy Server

SERVICE_TYPE SCRIPT

#Interval between each monitor. Time value in seconds.
INTERVAL 60

#Timeout delay. Time value in seconds.
TIMEOUT 10

#Local command or script to run for data
CMD /home/felix/Projects/apimonitor/healthcheck/src/configs/plugins/telnet.sh